{% extends "base.html" %}

{% block titleHead %}Historial{% endblock %}

{% block body %}
<main>
    <div class="mainHistorial">
        <div>
            <h1>Historial</h1>
        </div>
        <div>
            <table id="table_historial" class="tableHistorial">
                <tr class="header_row_table">
                    <th class="">Id orden</th>
                    <th class="">Fecha</th>
                    <th class="">Precio neto</th>
                    <th class="">Impuesto</th>
                    <th class="">Precio total</th>
                    <th class="">Estado</th>
                </tr>
                {% for movimiento in historial %}
    
                <tr onclick="cargar('{{movimiento["order"][0]}}', {{movimiento["order"][7]}})">
                    <td class="orden">{{movimiento["order"][0]}}</td>
                    <td class="orden">{{movimiento["order"][1]}}</td>
                    <td class="orden">{{movimiento["order"][3]}}</td>
                    <td class="orden">{{movimiento["order"][4]}}</td>
                    <td class="orden">{{movimiento["order"][5]}}</td>
                    <td class="orden">{{movimiento["order"][6]}}</td>
                </tr>
                    <tr id={{movimiento["order"][0]}}_ class="detalle">
                        <th></th>
                        <th></th>
                        <th></th>
                        <th class="detalle">Id producto</th>
                        <th class="detalle">Precio neto</th>
                        <th class="detalle">Versión</th>
                    </tr>
                    {% set counter = 0 -%}
                    {% for detail in movimiento["details"] %}
                    <tr id={{movimiento["order"][0]}}_{{ loop.index }} class="detalle">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="detalle">{{detail[0]}}</td>
                        <td class="detalle">{{detail[2]}}</td>
                        <td class="detalle">{{detail[3]}}</td>
                    </tr>
                    {% set counter = counter + 1 %}
                    {% endfor %}
                </div>
                {% endfor %}
            </table>
        </div>
        <br>
        <div>
            <table class="tableHistorial">
                <tr>
                    <th class="orden">
                        Tu saldo:
                    </th>
                </tr>
                <tr>
                    <td class="tableHistorial">{{saldo}}</td>
                </tr>
            </table>
        </div>
        <br>
        <div>
            <form action="introducir_saldo" method="POST">
                <input id="Saldo_a_introducir" name="input_saldo" type="text" placeholder="Introduzca la cantidad"
                    required><br>
                <button type="submit" name="button" class="buttonP">Añadir saldo</button>
            </form>
        </div>
    </div>
</main>
{% endblock %}