{% extends "base.html" %}

{% block titleHead %}Inicio{% endblock %}

{% block title %}
    <div class="pageTitle">
        <h1>Catálogo de películas</h1>
    </div>
{% endblock %}
{% block content %}
    <div class="mainSection">
        {% for film in movies %}
        <div class="movie">
            <a href="index/{{film[1]}}">
            <img alt="{{film[1]}}" class="images"></a><br>
            <h3>{{film[1]}}</h3>
            <p class="price">{{film.precio}}</p>
        </div>
        {% endfor %}
    </div>
{% endblock %}

