{% extends "base.html" %}

{% block titleHead %}topUSA{% endblock %}

{% block content %}
<div class="info">
  <header>
  </header>
  <div>
    <table>
      {% for pelicula in first_table %}
      <tr>
        <th>title</th>
        <th>genres</th>
        <th>year</th>
        <th>directors</th>
        <th>actors</th>
        <th>most related movies</th>
        <th>related movies</th>
      </tr>
      <tr>
        <td>{{pelicula[0]}}</td>
        <td>{{pelicula[1]}}</td>
        <td>{{pelicula[2]}}</td>
        <td>{{pelicula[3]}}</td>
        <td>{{pelicula[4]}}</td>
        <td>{{pelicula[5]}}</td>
        <td>{{pelicula[6]}}</td>
      </tr>
      {% endfor %}
    </table>
    <table>
      {% for pelicula in second_table %}
      <tr>
        <th>title</th>
        <th>genres</th>
        <th>year</th>
        <th>directors</th>
        <th>actors</th>
        <th>most related movies</th>
        <th>related movies</th>
      </tr>
      <tr>
        <td>{{pelicula[0]}}</td>
        <td>{{pelicula[1]}}</td>
        <td>{{pelicula[2]}}</td>
        <td>{{pelicula[3]}}</td>
        <td>{{pelicula[4]}}</td>
        <td>{{pelicula[5]}}</td>
        <td>{{pelicula[6]}}</td>
      </tr>
      {% endfor %}
    </table>
    <table>
      {% for pelicula in third_table %}
      <tr>
        <th>title</th>
        <th>genres</th>
        <th>year</th>
        <th>directors</th>
        <th>actors</th>
        <th>most related movies</th>
        <th>related movies</th>
      </tr>
      <tr>
        <td>{{pelicula[0]}}</td>
        <td>{{pelicula[1]}}</td>
        <td>{{pelicula[2]}}</td>
        <td>{{pelicula[3]}}</td>
        <td>{{pelicula[4]}}</td>
        <td>{{pelicula[5]}}</td>
        <td>{{pelicula[6]}}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}