{% extends "base.html" %}

{% block titleHead %}topUSA{% endblock %}

{% block content %}
<div class="mainHistorial">
  <div>
    <br><br>Comedias de 1997 con "Life" en el título<br>
    <table class="tabletopUSA">
      <tr class="header_row_table">
        <th>Título</th>
        <th>Género</th>
        <th>Año</th>
        <th>Directores</th>
        <th>Actores</th>
        <th>Películas más relacionadas</th>
        <th>Películas relacionadas</th>
      </tr>
      {% for pelicula in first_table %}
      <tr>
        <td class="orden">{{pelicula["title"]}}</td>
        <td class="orden">
          {% for genero in pelicula["genres"]%}
            {{genero}}<br>
          {% endfor %}
        </td>
        <td class="orden">{{pelicula["year"]}}</td>
        <td class="orden">
          {% for directores in pelicula["directors"]%}
            {{directores}}<br>
          {% endfor %}
        </td>
        <td class="orden">
          {% for actores in pelicula["actors"]%}
            {{actores}}<br>
          {% endfor %}
        </td>
        <td class="orden">
          {% for mrm in pelicula["most_related_movies"]%}
            {{mrm["title"]}}<br>
          {% endfor %}
        </td>
        <td class="orden">
          {% for rm in pelicula["related_movies"]%}
            {{rm["title"]}}<br>
          {% endfor %}
        </td>
      </tr>
      {% endfor %}
    </table>
    <br><br><br><br><br><br>Películas dirigidas por Woody Allen en los 90<br>
    <table class="tabletopUSA">
      <tr class="header_row_table">
        <th>Título</th>
        <th>Género</th>
        <th>Año</th>
        <th>Directores</th>
        <th>Actores</th>
        <th>Películas más relacionadas</th>
        <th>Películas relacionadas</th>
      </tr>
      {% for pelicula in second_table %}
      <tr>
        <td class="orden">{{pelicula["title"]}}</td>
        <td class="orden">
          {% for genero in pelicula["genres"]%}
            {{genero}}<br>
          {% endfor %}
        </td>
        <td class="orden">{{pelicula["year"]}}</td>
        <td class="orden">
          {% for directores in pelicula["directors"]%}
            {{directores}}<br>
          {% endfor %}
        </td>
        <td class="orden">
          {% for actores in pelicula["actors"]%}
            {{actores}}<br>
          {% endfor %}
        </td>
        <td class="orden">
          {% for mrm in pelicula["most_related_movies"]%}
            {{mrm["title"]}}<br>
          {% endfor %}
        </td>
        <td class="orden">
          {% for rm in pelicula["related_movies"]%}
            {{rm["title"]}}<br>
          {% endfor %}
        </td>
      </tr>
      {% endfor %}
    </table>
    <br><br><br><br><br><br>Películas en las que Johnny Galecki y Jim Parsons compartan reparto<br>
    <table class="tabletopUSA">
      <tr class="header_row_table">
        <th>Título</th>
        <th>Género</th>
        <th>Año</th>
        <th>Directores</th>
        <th>Actores</th>
        <th>Películas más relacionadas</th>
        <th>Películas relacionadas</th>
      </tr>
      {% for pelicula in third_table %}
      <tr>
        <td class="orden">{{pelicula["title"]}}</td>
        <td class="orden">
          {% for genero in pelicula["genres"]%}
            {{genero}}<br>
          {% endfor %}
        </td>
        <td class="orden">{{pelicula["year"]}}</td>
        <td class="orden">
          {% for directores in pelicula["directors"]%}
            {{directores}}<br>
          {% endfor %}
        </td>
        <td class="orden">
          {% for actores in pelicula["actors"]%}
            {{actores}}<br>
          {% endfor %}
        </td>
        <td class="orden">
          {% for mrm in pelicula["most_related_movies"]%}
            {{mrm["title"]}}<br>
          {% endfor %}
        </td>
        <td class="orden">
          {% for rm in pelicula["related_movies"]%}
            {{rm["title"]}}<br>
          {% endfor %}
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}