<!DOCTYPE html>
<html>
    <meta name="viewport" content="width=device-width, intial-scale=1.0">
    <head>
        <title>Film Details</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="../static/estilo.css">
    </head>
    <body>
        <div class="info">
            <header>
            </header>
            <main>
              <div class="mainFilmDetail">
                  <img src="../imagenes/peliculas/joker.jpg" width="1200" alt="joker" class="imagesFilmDetail"><br />
                  <div class="venta">
                    <a href="carrito.html" target="_parent"><p class="buttonP">Comprar</p></a>
                    <p class="price">18.99€</p>
                    <a href="carrito.html" target="_parent"><p class="buttonP">Alquilar</p></a>
                  </div>
                  <p class="subsecciones">Descripción:</p>
                  <p class="descmovieFilmDetail">
                      Joker (conocida como Guasón en Hispanoamérica) es una película de suspenso y drama psicológico estadounidense de 2019 distribuida por Warner Bros. Pictures y basada en el Joker, personaje de DC Comics
                  </p>
                  <p class="subsecciones">Director:</p>
                  <div>
                    <img src="../imagenes/actores/ToddPhillips.jpeg" alt="Foto Todd Phillips" class="images">
                    <p class="descmovieFilmDetail">
                        Todd Phillips
                    </p>
                  </div>
                  <p class="subsecciones">Autores principales:</p>
                  <div class="actores">
                    <div class=actor>
                    <img src="../imagenes/actores/Joaquin.jpeg" alt="Foto Joaquin Phoenix" class="images">
                    <p class="descActor">
                      Joaquin Phoenix.
                    </div>
                    <div class=actor>
                    <img src="../imagenes/actores/RobertDeNiro.jpeg" alt="Foto Robert De Niro" class="images">
                    <p class="descActor">
                      Robert De Niro.
                    </div>
                  </div>
                  <br /><br />
                  <div class="actores">
                    <div class=actor>
                    <img src="../imagenes/actores/Zazie.jpeg" alt="Foto Zazie Beetz" class="images">
                    <p class="descActor">
                      Zazie Beetz.
                    </div>
                    <div class=actor>
                    <img src="../imagenes/actores/Frances.jpeg" alt="Foto Frances Conroy" class="images">
                    <p class="descAcor">
                      Frances Conroy.
                    </div>
                  </div>
              </div>
            </main>
        </div>
        <iframe src="sidenav.html" class="sidenav"></iframe>
        <iframe src="topnav.html" class="topnav"></iframe>
        <footer>
        </footer>
    </body>
</html>
