{% extends "base.html" %}

{% block content %}
<body>
    <main>
        <div class="mainHistorial">
          <div>
              <h1>Historial</h1>
          </div>
          <div>
            <table class="tableHistorial">
              <tr>
                <th colspan="2" class="tableHistorial">Tus movimientos:</th>
              </tr>
              <!-- 
              {% for movimiento in historial %}
              <tr>
                <td class="tableHistorial">{{movimiento.nombre_producto}}</td>
                <td class="tableHistorial">{{movimiento.precio}}</td>
              </tr>
              {% endfor %}
              -->
              <tr>
                <td class="tableHistorial">Joker</td>
                <td class="tableHistorial">18.99€</td>
              </tr>
              <tr>
                <td class="tableHistorial">Spider-man</td>
                <td class="tableHistorial">58.99€</td>
              </tr>
              <tr>
                <td class="tableHistorial">Origen</td>
                <td class="tableHistorial">70.99€</td>
              </tr>
            </table>
          </div>
          <br>
          <div>
            <table class="tableHistorial">
              <tr>
                <th class="tableHistorial">
                  Tu saldo:
                </th>
              </tr>
              <tr>
                <td class="tableHistorial">
                  <!--{{usuario.saldo}}-->
                </td>
              </tr>
            </table>
          </div>
          <br>
          <div>
            <button type="button" name="button" class="opciones">Añadir saldo</button>
            <button type="button" name="button" class="opciones">Retirar saldo</button>
          </div>
        </div>
    </main>
    <footer>
    </footer>
</body>
{% endblock %}

