{% extends "base.html" %}

<meta name="viewport" content="width=device-width, intial-scale=1.0">
<head>
    <title>Iniciar sesión</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="../static/estilo.css">
    <script src="../static/javascript/javascript.js" ></script>
</head>

{% block body %}
<body>
    <div class="info">    
        <header>
            <h1>Login Usuario</h1>
        </header>
            <form action="index.html" method="POST">    
                <label>Nombre de usuario</label><br>
                <input id="username" name ="Nombre de usuario" type="text" placeholder="Introduzca el nombre" required>
                <br><br>
                <label>Contraseña</label><br>
                <input id="password" name="Contraseña" type="password" placeholder="Introduzca la contraseña" required><br>
                <button type="submit" class="buttonP">Login</button>
            </form>
        </main>
    </div>
</body>
{% endblock %}