{% extends "base.html" %}

{% block titleHead %}Iniciar sesión{% endblock %}

{% block body %}
<body>
    <div class="info">    
        <header>
            <h1>Login Usuario</h1>
        </header>
        <main>
            <form action="login.html" method="POST">    
                <label>Nombre de usuario</label><br>
                <input id="username" name ="username" type="text" placeholder="Introduzca el nombre" required>
                <br><br>
                <label>Contraseña</label><br>
                <input id="password" name="password" type="password" placeholder="Introduzca la contraseña" required><br>
                <button type="submit" class="buttonP">Login</button>
            </form>
        </main>
        <div class="errorMsg">
            <p id="errMSG">{{error}}</p>
        </div>
    </div>
</body>
{% endblock %}