<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, intial-scale=1.0">
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="../static/estilo.css">
    </head>
    <div class="sidenav">
        <a><img src="../static/imagenes/utils/dot.png" alt="boton" onclick="openNav()" height="30px" width="30px"></a>
        <a id="el1" href="cargar_categoria/Acción" target="_parent" alt="Películas de acción">Acción</a>
        <a id="el2" href="cargar_categoria/Anime" target="_parent" alt="Películas de anime">Anime</a>
        <a id="el3" href="cargar_categoria/Aventura" target="_parent" alt="Películas de aventuras">Aventuras</a>
        <a id="el4" href="cargar_categoria/Ciencia Ficción" target="_parent" alt="Películas de Ciencia Ficción">Ciencia Ficción</a>
        <a id="el5" href="cargar_categoria/Comedia" target="_parent" alt="Películas de Comedia">Comedia</a>
        <a id="el6" href="cargar_categoria/Suspense" target="_parent" alt="Películas de Suspense">Suspense</a>
        <a><img src="../static/imagenes/utils/dot.png" alt="boton" onclick="closeNav()" height="30px" width="30px"></a>
    </div>
</html>