<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, intial-scale=1.0">
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="../static/estilo.css">
    </head>
    <div class="sidenav">
        <a href="cargar_categoria/Acción" target="_parent" alt="Películas de acción">Acción</a>
        <a href="cargar_categoria/Anime" target="_parent" alt="Películas de anime">Anime</a>
        <a href="cargar_categoria/Aventura" target="_parent" alt="Películas de aventuras">Aventuras</a>
        <a href="cargar_categoria/Ciencia Ficción" target="_parent" alt="Películas de Ciencia Ficción">Ciencia Ficción</a>
        <a href="cargar_categoria/Comedia" target="_parent" alt="Películas de Comedia">Comedia</a>
        <a href="cargar_categoria/Suspense" target="_parent" alt="Películas de Suspense">Suspense</a>
    </div>
</html>