<!DOCTYPE html>
<html lang="es">
    <head>
        <title>sidenav</title>
        <meta name="viewport" content="width=device-width, intial-scale=1.0">
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="../static/estilo.css">
        <script src="../static/javascript/javascript.js"></script>
    </head>
    <div id="sidenav" class="sidenav">
        <a id="upNavButton" onclick="openNav()"><img src="../static/imagenes/utils/dot.png" alt="boton" onload="hideUpbottomNav()" class="small_img"></a>
        <a id="sidevalues1" href="cargar_categoria/Acción" target="_parent">Acción</a>
        <a id="sidevalues2" href="cargar_categoria/Anime" target="_parent">Anime</a>
        <a id="sidevalues3" href="cargar_categoria/Aventura" target="_parent">Aventuras</a>
        <a id="sidevalues4" href="cargar_categoria/Ciencia" target="_parent">Ciencia Ficción</a>
        <a id="sidevalues5" href="cargar_categoria/Comedia" target="_parent">Comedia</a>
        <a id="sidevalues6" href="cargar_categoria/Suspense" target="_parent">Suspense</a>
        <a id="downNavButton" onclick="closeNav()" ><img src="../static/imagenes/utils/dot.png" alt="boton" class="small_img"></a>
    </div>
</html>
