<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="../static/estilo.css">
        <script type="text/javascript" src="../static/javascript/javascript.js"></script>
    </head>
    <div class="topnav">
        <a href="index" target="_parent">Inicio</a>
        <a href="login.html" target="_parent">
            {% if logged %}
                Cerrar sesión
            {% else %}
                Iniciar sesión
            {% endif %}
        </a>
        <a href="signup.html" target="_parent">Registrarse</a>
        <a href="historial.html" target="_parent">Historial</a>
        <a href="carrito.html" target="_parent"><img src="../static/imagenes/utils/carrito5.png" alt="Carrito" class="small_img"></a>
        <div class="searchbar">
            <form action="/busqueda" method="POST" target="_parent">
                <input id="valor" name ="search" type="text" placeholder="¿Qué buscas? (Nombre película)">
                <button class="buttonS" type="submit" id="search">Search</button>
            </form>
        </div>
    </div>
</html>
